@font-face {
    font-family: 'MadokaRunes';
    src: url('https://cdn.jsdelivr.net/gh/Tierra361433/css-test@魔女文字css/MadokaRunes-2.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*https://cdn.jsdelivr.net/gh/Tierra361433/css-test@%E9%AD%94%E5%A5%B3%E6%96%87%E5%AD%97css/MadokaRunes-2.0.woff*/
/* 容器样式 */
section.eva_like {
    font-family: 'MadokaRunes', sans-serif; /* 使用加载的字体 */
    /*background-color: white;*/
    color: black;
    margin: 0;
    padding: 0;
}